.search {
    background-color: #efefef;
    display: flex;
    align-items: center;
    height: 38px;
    border-radius: 7px;
    padding: 0 15px;
    margin-bottom: 50px;
    position: relative;
}

.search > img {
    padding-right: 12px;
}

.search input {
    border: none;
    outline: none;
    background-color: transparent;
}
